.Clientes {
  flex-direction: column;
  justify-content: space-evenly;
  overflow: scroll;
  margin-top: 30px;
}

.Clientes h1 {
  color: #052462;
}

@media screen and (max-width: 1200px) {
  .Clientes {
    justify-content: center;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Clientes {
    align-items: center;
  }
}

/* .table {
  width: 55%;
} */
