.Clientes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: scroll;
  margin-top: 30px;
}

.Clientes h1 {
  color: #052462;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .Clientes {
    justify-content: flex-start;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Clientes {
    align-items: center;
  }
}
